{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Pppath</th>
                <th>Bio</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><a href="{{ path('utilisateur_admin_show', { 'id': utilisateur.id }) }}">{{ utilisateur.email }}</a></td>
                <td>{{ utilisateur.password }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.ppPath }}</td>
                <td>{{ utilisateur.bio }}</td>
                <td>{{ utilisateur.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('utilisateur_admin_show', { 'id': utilisateur.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
