{% extends 'base.html.twig' %}

{% block body %}
    <h1>Utilisateur</h1>

    <table>
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ utilisateur.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Pppath</th>
                <td>{{ utilisateur.ppPath }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ utilisateur.bio }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('utilisateur_admin_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
