{% extends 'base.html.twig' %}

{% block body %}
    <h1>Posts list</h1>

    <table>
        <thead>
            <tr>
                <th>Texte</th>
                <th>Datepost</th>
                <th>Heurepost</th>
                <th>Visibilite</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('post_admin_show', { 'id': post.id }) }}">{{ post.texte }}</a></td>
                <td>{% if post.datePost %}{{ post.datePost|date('Y-m-d') }}{% endif %}</td>
                <td>{% if post.heurePost %}{{ post.heurePost|date('H:i:s') }}{% endif %}</td>
                <td>{% if post.visibilite %}Yes{% else %}No{% endif %}</td>
                <td>{{ post.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_admin_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('post_admin_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_admin_new') }}">Create a new post</a>
        </li>
    </ul>
{% endblock %}
