{% extends 'base.html.twig' %}

{% block title %}Message privée{% endblock %}

{% block body %}


<div class="grid-container.fluid">



	<div class="grid-x grid-padding-x menu">

		<div class="large-3 medium-3 cell">
			<h1>*Logo*</h1>
		</div>

		<div class="large-2 medium-2 cell">
			<input type="text" class="menu" placeholder="Chercher..." />
		</div>

<<<<<<< HEAD
<<<<<<< HEAD
		<div class="large-2 medium-2 cell">
			<a href="{{path('login')}}" class="menu">Accueil</a>
		</div>

		<div class="large-1 medium-1 cell">
		<a href="#">	<img src="css/img/invitations.png" alt="Invitations" /></a>
=======
		<div class="large-2 medium-2 cell lienAccueil">
			<a href="{{path('homepage')}}" class="menu">Accueil</a>
		</div>

		<div class="large-1 medium-1 cell">
		<a href="#">
			<img src="{{ asset('css/img/invitations.png')}}" class="menu" alt="Invitations" />
		</a>
>>>>>>> 0778aab4bee984492047322f575da86c34e4d02b
		</div>

		<div class="large-1 medium-1 cell">
		<a href="{{path('message')}}">
			<img src="{{ asset('css/img/messages.png')}}" class="menu" alt="Messages"  />
		</a>
		</div>

		<div class="large-1 medium-1 cell">
<<<<<<< HEAD
			<a href="#"> <img src="css/img/parametres.png" alt="Paramètres" /></a>
=======
			<a href="#">
			<img src="{{ asset('css/img/parametres.png')}}" class="menu" alt="Paramètres" />
			</a>
>>>>>>> 0778aab4bee984492047322f575da86c34e4d02b
=======

		<div class="large-2 medium-2 cell lienAccueil">

		<div class="large-2 medium-2 cell">

			<a href="{{path('homepage')}}" class="menu">Accueil</a>
		</div>

		<div class="large-1 medium-1 cell">
		<a href="#">	<img src="css/img/invitations.png" class="menu" alt="Invitations" /></a>
		</div>

		<div class="large-1 medium-1 cell">
		<a href="{{ path('message')}}"><img src="{{ asset('css/img/messages.png')}}" class="menu" alt="Messages" /></a>
		</div>

		<div class="large-1 medium-1 cell">
			<a href="#"> <img src="css/img/parametres.png" class="menu" alt="Paramètres" /></a>
>>>>>>> master
		</div>

		<div class="large-2 medium-2 cell">
			<a href="{{ path('logout') }}" class="menu">Déconnexion</a>
		</div>

	</div>

	<div class="grid-x grid-padding-x contenu">

		<div class="large-12 medium-12 cell">
			<h1>Messagerie privée</h1>
		</div>

	</div>

	<hr/>

<<<<<<< HEAD
			<div class="grid-x grid-padding-x contenu">

			<div id="msg" class="large-3 medium-3 cell msg">
			<h1> Messages </h1>
			</div>
			<div id="msg" class="large-8 medium-8 cell msg">
			<h1> Conversation </h1>
			</div>
			</div>

<<<<<<< HEAD
		<div class="grid-x grid-padding-x contenu">
=======
				<div class="tchat">
					<span class="tchat">

						<!--	<div id="pseudo"> prenom nom  | 	<span id="message"> message </span>	</div> -->


					</span>
				</div>
>>>>>>> 0778aab4bee984492047322f575da86c34e4d02b

		<div id="tchat" class="large-3 medium-3 cell">
		<h1> *Liste conversations récentes* </h1>
		</div>

<<<<<<< HEAD
		<div id="tchat" class="large-8 medium-8 cell tchat">
=======
	<div class="grid-x grid-padding-x contenu">

		<div id="msg" class="large-4 medium-4 cell msg">
			<h1>Conversations</h1>
			<h1>*Liste conversations*</h1>
>>>>>>> master
		</div>
			
		<div id="msg" class="large-8 medium-8 cell msg">
			<h1>*destinataire*</h1>
				
				<div class="tchat">
					<span class="tchat">
						{{prenom}} {{nom}} | {{mess}}
					</span>
				</div>
				
				<form name="message" action="{{ path('message')}}" method="post">
        			<input name="usermsg" type="text" id="usermsg"  placeholder="Saisissez votre message..." />
        			<input class="btn" name="envoyer" type="submit"  id="envoyer" value="Envoyer"/>
				</form>
		</div>
<<<<<<< HEAD
=======
	</div>



		{# <input class="btnenv" name="o" type="submit"  id="o" value="Envoyer"/> #}
>>>>>>> 0778aab4bee984492047322f575da86c34e4d02b
=======
			
	</div>

>>>>>>> master


		
		{# <input class="btnenv" name="o" type="submit"  id="o" value="Envoyer"/> #}
		

<<<<<<< HEAD
		<div id="tchat" class="large-3 medium-3 cell">
		</div>

		<div id="tchat" class="large-8 medium-8 cell ">
		<form name="message" action="{{ path('message')}}" method="post">
        <input class="msg" name="usermsg" type="text" id="usermsg"  placeholder="Saisissez votre message..." />
        <input class="btnenv" name="envoyer" type="submit"  id="envoyer" value="Envoyer"/>
		</form>
		</div>
		</div>
		<input class="btnenv" name="o" type="submit"  id="o" value="Envoyer"/>
		{{mess}} {{nom}} {{prenom}}



=======
>>>>>>> 0778aab4bee984492047322f575da86c34e4d02b




		<div class="grid-x grid-padding-x footer">
			<div class="large-12 medium-12 cell">
				<p class="footer">&copy; Aix-Marseille Université</p>
			</div>
		</div>


</div>
{% endblock %}
<<<<<<< HEAD

{% block javascripts %}

<script type="text/javascript">

<<<<<<< HEAD
$('#o').click(function(e){
	alert('ok')
});

=======
	$('#envoyer').click(function(e){
		e.preventDefault();

		var pseudo ="{{prenom | raw}} {{nom | raw}} |"; // on sécurise les données
		var message = $('#usermsg').val();

		$.post("{{path('message')}}",
	     {
	         pseudo: pseudo,
	        message: message
	     },
	     function(data, status){
	         alert("Data: " + data + "\nStatus: " + status);
	     });

	$('span.tchat').append("<div>"+pseudo+"<span>"+message+"</span>"+"</div>");

	});

	function charger(){
		setInterval(function(){
			alert("Hello");
		}, 3000);
	}

charger();
>>>>>>> 0778aab4bee984492047322f575da86c34e4d02b
</script>

{% endblock %}
=======
>>>>>>> master
